head{
	padding: 0px;
	margin: 0px;
}
body{
	padding: 0px;
	margin: 0px;
	background-image: url("clouds-min.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	position: relative;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	height: 300px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	position: top;
}
.title-1 {
  color: #f2f2f2;
  font-size: 180px;
  font-family: 'Tangerine', cursive;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
}
.title-2 {
  color: #f2f2f2;
  font-size: 120px;
  font-family: 'Tangerine', cursive;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-caption-1 {
	padding: 0px 0px 0px 0px;
	position: absolute;
	top: 0;
	left: 0;
}
/*Navigation*/
.navbar-inverse {
	background: rgba(0, 0, 0, 0.65);
	margin: 0px 0px 0px 0px;
}
.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus {
  	font-size: 30px;
  	font-family: 'Tangerine', cursive;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
  	font-size: 40px;
  	font-family: 'Tangerine', cursive;
  	font-weight: bold,
}
/*Word a day*/
.AWAD_title{
	font-size: 20pt;
	color: #f2f2f2;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: none;
}
.day {
	margin:auto;
}
script {
	margin:auto;
}
p {
	color: #f2f2f2;
	font-size: 20pt;
	text-align: center;
	margin: 0px 0px 0px 0px;
}
.AWAD_wordlink{
	color: #f2f2f2;
	font-size: 40pt;
	font-family: 'Tangerine', cursive;
	display:block;
	text-align: center;
}
.AWAD_wordlink:hover{
	text-decoration: underline;
}
.AWAD_byline{
	display: none;
}

/*Hover effect*/
.main_pics,
.img-responsive {
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	position: top;
}
.hovereffect {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-top: 30px;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-border-radius: 14px 14px 14px 14px;
	border: 5px solid #7893b8;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hovereffect:hover .overlay {
  background-color: rgba(170,170,170,0.5);
}
.hovereffect h2, 
.hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  width: 400px;
  height: 400px;
}
.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hovereffect h2 {
  color: #fff;
  font-family: 'Tangerine', cursive;
  text-align: center;
  position: relative;
  top: 150px;
  font-size: 40px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.hovereffect:hover h2 {
	display: none;
}
.hovereffect p {
	display: none;
	font-size: 15px;
  	padding: 10px;
  	color: black;
  	text-align: center;
  	vertical-align: center;
	}
.hovereffect:hover p {
	display: block;
	}	

/* Modal and modal buttons */
.modal-header {
    padding: 5px 5px 5px 20px;
}
.modal-title {
	font-size: 45px;
  	font-family: 'Tangerine', cursive;
  	vertical-align: center;
  	padding: 0px 0px 0px 0px;
  	height: 50px;
}
.modal-text {
	padding: 0px 0px 0px 0px;
	color: black;
}
.modal-body {
	padding: 0px 0px 0px 20px;
}
.modal-content  {
	background: url(cloudslight1.jpg);
}
.buttons {
	text-align: center;
}
.poemtitle {
    background-color: rgba(0, 0, 0, 0.65);
    border: none;
    color: white;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    text-decoration: none; 
    font-size: 40px;
  	font-family: 'Tangerine', cursive;
  	padding: 8px 15px;
  	margin: 6px 3px 6px 3px;
}
.poemtitle:hover {
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.38), 0 19px 52px 0 rgba(0,0,0,0.30);
}

/*Contact Page*/
#contact-page{
	background-image: url("sky_clouds-min.jpg");
    background-position: center;
    background-width: 100%
    background-height: 600px;
    background-repeat: no-repeat;
}
.form {
	margin:auto;
}
.form input[type=text]{
	width: 30%;
    padding: 12px 20px;
    margin: 0 50% 0 50%;
    text-align: center;
	font-family: 'Tangerine', cursive;
	font-size: 30px;
    box-sizing: border-box;
}
.form input[type=email]{
	width: 30%;
    padding: 12px 20px;
    margin: 0 50% 0 50%;
    box-sizing: border-box;
    text-align: center;
	font-family: 'Tangerine', cursive;
	font-size: 30px;
}
.form textarea {
    width: 30%;
    height: 150px;
    padding: 10px 100px 20px 10px;
    margin: 0 50% 0 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
	font-family: 'Tangerine', cursive;
	font-size: 30px;
}
